img {
  object-fit: cover;
  width: 100%
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.col-8 {
  flex-basis: calc(8/12)
}

.col-4 {
  flex-basis: calc(4/12)
}

.width-100 {
  width: 100%;
}

.row {
  display: flex;
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}
