a {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.muted-text {
  color: rgb(134, 134, 134);
}

.fs-3 {
  font-size: 2.5rem;
}

.bold {
  font-weight: 900;
}

.color-box {
  width: 2rem;
  height: 2rem;
}

.color-box-border {
  border: rgb(134, 134, 134) solid 1px;
  margin: 0 10px;
  padding: 2px;
}

.italic {
  font-style: italic;
}

.selected-box {
  border: black solid 2px;
}

a:nth-child(1) > div.color-box-border {
  margin-left: 0;
}

.zipcode {
  color: rgb(219, 33, 33);
  margin-left: 1rem;
}

.zipcode:hover {
  color: rgb(173, 0, 0);
  text-decoration: none;
}

.lh {
  line-height: 2rem;
}

.btn {
  border: none;
  padding: 0.5rem 0.8rem;
  margin-right: 1rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.cancel-btn {
  border: solid rgb(90, 90, 90) 1px;
  color: rgb(90, 90, 90);
}

.cancel-btn:hover {
  border: solid black 1px;
  color: black;
}

.cancel-btn:active {
  border: solid 1px;
  color: white;
  background-color: rgb(41, 41, 41)
}

.add-btn {
  background-color: rgb(163,52,51);
  color: white;
}

.add-btn:hover {
  background-color: rgb(163, 37, 35);
}

.add-btn:active {
  background-color: rgb(134, 4, 2);
}
